<script type="text/ecmascript-6">
import bus from '@/Bus';
export default {
    props: ['perPage', 'total', 'start'],
    methods: {
        prevPage: function(e) {
            bus.$emit("setPagination",this.start - this.perPage);

        },
        nextPage: function(e) {
            bus.$emit("setPagination",this.start + this.perPage);
        }
    }
}
</script>

<template>
    <div>
        <a v-if="start > 0" class="btn btn-link btn-xs" @click="prevPage()" rel="prev">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </a>
        <span class="hidden-xs">{{ start + 1 }} - {{ start+perPage }}</span>
        <a class="btn btn-link btn-xs" @click="nextPage()" rel="next">
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    </div>
</template>