
<script>
import { download } from '@/service';
import bus from '@/Bus';
export default {
    name: "Item",
    props: ["product"],
    data() {
        return {
            urlthumbnail: '',
            isLoadImage: false
        };
    },
    methods: {
        imageUrlAlt: function() {
            this.isLoadImage = false
            event.target.src = "/vendor/geonodo/copernicus/placeholder.png"
        },
        viewDetail: function() {
            bus.$emit('viewDetailItem', this.product.uuid)
        },
        downloadItem: function() {
            download(this.product.uuid)
        },
        viewMap: function() {
             bus.$emit('viewLayerMap', this.product.uuid)
        }
    },
    computed: {
    }
};
</script>

<template>
    <div class="item">
        <div class="title"> <span>{{ product.title }}</span></div>
        <div class="content">
            <div class="image">
                <transition>
                    <img v-show="isLoadImage" :src="`copernicus/thumbnail\\${product.uuid}`" alt="" @error="imageUrlAlt" @load="isLoadImage = true"/>
                </transition>
                <img v-show="!isLoadImage" src="/vendor/geonodo/copernicus/placeholder.png" alt=""/>
            </div>
            <div class="description">
                <div>
                    <span class="list-attribute">Misión:</span> <strong class="value-attribute">{{product.platformname}}</strong>
                    <span class="list-attribute">Instrumento:</span> <strong class="value-attribute">{{product.instrumentshortname}}</strong>
                    <span class="list-attribute">Tamaño:</span> <strong class="value-attribute">{{product.size}}</strong>
                </div>
                <div class="actions">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-link" @click="viewMap">
                            <i class="glyphicon glyphicon-screenshot"></i>
                        </button>
                        <button type="button" class="btn btn-link" @click="viewDetail">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </button>
                        <button type="button" class="btn btn-link">
                            <i class="glyphicon glyphicon-floppy-disk"></i>
                        </button>
                        <a :href="`copernicus/download\\${product.uuid}`" class="btn btn-link" ><i class="glyphicon glyphicon-download-alt"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .item {
        padding-bottom: 10px;
        padding-left: 10px;
        font-size: 12px;
        overflow: auto;
    }
    .item:not(:last-child) {
        border-bottom-style: solid;
        border-width: 0.5px;
        border-color: #cfcece;
    }
    .title > span {
        font-weight: bold;
    }
    .description {
        padding: 10px;
        width: 100%;
        font-size: 10px;
    }
    .value-attribute {
        color: #313537;
    }
    .list-attribute {
        color: #989a9b;
    }
    .content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .image > img {
        max-height: 64px;
        max-width: 64px;
    }
    .actions{
        display: flex;
        height: 25px;
    }
    .item:hover {
        background: #faf9f9;
    }
    .item:hover .actions {
        display: flex;
    }
</style>