
<script>
import { mapState } from 'vuex';
import Item from './Item'
import bus from '@/Bus';
import Pagination from '@/Pagination';

export default {
    name: "Result",
    components: {
        Item,
        Pagination
    },
    data() {
        return {
            loading: true,
        };
    },
    created() {
        bus.$on('viewAdvancedSearch', this.listSearchAdvanced)
    },
    methods: {
        closeResults() {
            this.$store.commit('showResult', false)
        },
        listSearchAdvanced(e) {
            if(e)
                this.closeResults()
        }
    },
    computed: mapState(['data', 'showResult']),
};
</script>

<template>
    <transition name="fade" >
        <div class="col-sm-5 panel-list" v-if="data['products'].length > 0 && showResult">
            <div
                id="accordion"
                role="tablist"
                aria-multiselectable="false"
            >
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title custom-panel-title pull-left">Resultados</h4>
                        <div class="pull-right">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-link" @click="closeResults" title="Cerrar"><i class="glyphicon glyphicon-remove"></i></button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel-body">
                            <div class="row">
                                <Item v-for="(item) in data.products" :key="item.uuid" :product="item" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <pagination class="text-right" :per-page="data.itemsPerPage" :total="data.totalResults" :start="data.startIndex"/>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<style scoped>
    .options-panel {
        overflow: auto;
    }
    .btn-apply {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .tab-content {
        padding-top: 15px;
    }
    .nav > li > a {
        padding: 5px 10px;
    }

    .panel-list {
        position: absolute;
        top: 4.8em;
        left: 2.2em;
        z-index: 1;
    }
    .panel-body {
        max-height: 65vh;
        overflow: auto;
    }

    .panel-footer {
        background-color: inherit;
    }
</style>