<script>
import { mapState } from 'vuex';
import bus from '@/Bus';
export default {
    created() {
        bus.$on('viewResults', (e) => this.show=!e);
    },
    data () {
        return {
        }
    },
    methods: {
        viewResult() {
            this.$store.commit('showResult', true)
        }
    },
    computed: mapState(['data', 'showResult']),
}
</script>

<template>
    <transition name="fade" >
        <button class="btn btn-default" type="button" v-if="!showResult" @click="viewResult">
            <i class="glyphicon glyphicon-list-alt"></i>
        </button>
    </transition>
</template>