<script>
import bus from '@/Bus';
import {concateList, getSubset} from '@/Util'
import VueSelect from 'vue-select';
import Sentinel1 from './Sentinel1';
import Sentinel2 from './Sentinel2';
import Sentinel3 from './Sentinel3';
import 'vue-select/dist/vue-select.css';
import { mapState } from 'vuex';

export default {
    name: "AdvancedSearch",
    components: {
        'vue-select': VueSelect,
        Sentinel1,
        Sentinel2,
        Sentinel3
    },
    props: ["advancedSearch"],
    data() {
        return {
            loading: true,
            query: '',
            form: {
                sortedby: '',
                order: '',
                deteccion: null,
                ingestion: null,
                sentinel1: null,
                sentinel2: null,
                sentinel3: null
            },
            optionsSortedBy: [
                { code: "beginposition", label: "Fecha de detection"},
                { code: "ingestiondate", label: "Fecha de ingestion"}
            ],
            optionsOrder: [
                { code: "asc", label: "Ascendente"},
                { code: "desc", label: "Descendente"}
            ]
        };
    },
    computed: mapState(['showSearchAdvanced']),
    methods: {
        closeSearch: function() {
             this.$store.dispatch('showSearchAdvanced', false)
        },
        submitSearch: function(e) {
            e.preventDefault();
            this.$emit("submit-form",{
            query: this.query,
            orderby: this.getOrderby()
            });
        },
        getOrderby() {
            if(this.form.sortedby !== null) {
                return this.form.sortedby +' '+ this.form.order
            }
            return undefined
        },
        getRangeDetection() {
            if(this.form.deteccion !== null)
                return `( beginPosition:[${this.form.deteccion.start.toISOString()} TO ${this.form.deteccion.end.toISOString()}] AND endPosition:[${this.form.deteccion.start.toISOString()} TO ${this.form.deteccion.end.toISOString()}] )`
        },
        getRangeIngestion() {
            if(this.form.ingestion !== null)
                return `( ingestiondate:[${this.form.ingestion.start.toISOString()} TO ${this.form.ingestion.end.toISOString()}] )`
        }
    },
    watch: {
        form: {
            handler(val){
                const querys = []
                const detection = this.getRangeDetection()
                if(detection)
                    querys.push(detection)
                const ingestion = this.getRangeIngestion()
                if(ingestion)
                    querys.push(ingestion)
                const sentinels = getSubset(this.form, 'sentinel1', 'sentinel2', 'sentinel3')
                const listSentinel = Object.values(sentinels).filter(e => e !=null)
                if(listSentinel.length > 0) {
                    querys.push(`( ${concateList(listSentinel, "OR")})`)
                }
                if(querys.length > 0 )
                    this.query = `${concateList(querys)}`
                else
                    this.query = ''
            },
            deep: true
        }
    }
};
</script>

<template>
    <transition name="fade" v-if="showSearchAdvanced">
        <div class="panel-list">
            <div
                id="accordion"
                role="tablist"
                aria-multiselectable="false"
            >
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title custom-panel-title pull-left">Busqueda Avanzada</h4>
                        <div class="pull-right">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-trash"></i></button>
                                <button type="button" class="btn btn-xs btn-default" @click="closeSearch"><i class="glyphicon glyphicon-remove"></i></button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel-body">
                            <form @submit="submitSearch">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" :href="`#tab-general`">General</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tab-s1">Sentinel-1</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tab-s2">Sentinel-2</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tab-s3">Sentinel-3</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="tab-general" class="tab-pane fade in active">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Ordenar por:</label>
                                                    <vue-select :options="optionsSortedBy" v-model="form.sortedby" :reduce="option => option.code" label="label"></vue-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Ordenar ASC/DESC:</label>
                                                    <vue-select :options="optionsOrder" v-model="form.order" :reduce="option => option.code" label="label"></vue-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Rango de Deteccion:</label>
                                                    <v-date-picker v-model="form.deteccion" mode='range'/>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Rango de ingestion:</label>
                                                    <v-date-picker v-model="form.ingestion" mode='range'/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <Sentinel1 v-model="form.sentinel1"/>
                                    <Sentinel2 v-model="form.sentinel2"/>
                                    <Sentinel3 v-model="form.sentinel3"/>
                                </div>
                                <div class="form-group btn-apply">
                                    <button class="btn btn-sm btn-block btn-primary" type="submit">
                                        Buscar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<style scoped>
    .options-panel {
        overflow: auto;
    }
    .btn-apply {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .tab-content {
        padding-top: 15px;
    }
    .nav > li > a {
        padding: 5px 10px;
    }

    .panel-list {
        position: absolute;
        top: 4em;
        /* left: 0em; */
        z-index: 1;
        /* box-shadow: 3px 5px 19px 0 rgba(49,50,50,.62); */
        /* padding-lxeft: 0px; */
        /* max-height: 550px; */
        /* overflow: auto; */
    }
</style>