<script>
import VueSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
import {concateList, constructorList} from '@/Util'

export default {
    name: "Sentinel3",
    components: {
        'vue-select': VueSelect
    },
    data() {
        return {
            form: {},
            optionsProductType: ["SR_1_SRA___", "SR_1_SRA_A", "SR_1_SRA_BS", "SR_2_LAN___", "OL_1_EFR___", "OL_1_ERR___",
                                    "OL_2_LFR___", "OL_2_LRR___", "SL_1_RBT___", "SL_2_LST___", "SY_2_SYN___", "SY_2_V10___",
                                    "SY_2_VG1___", "SY_2_VGP___"],
            optionsPlatform: ["S3A_*","S3B_*"],
            optionsInstruments: ["OLCI","SLSTR","SRAL","Synergy"],
            optionsLevels: ["L1","L2"],
            optionsTimeliness: [
                { code: "Near Real Time", label: "Casi en tiempo real"},
                { code: "Short Time Critical", label: "Poco tiempo diferible"},
                { code: "Non Time Critical", label: "Sin importar el tiempo diferible"}
            ]
        };
    },
    methods: {
        submitSearch: function(e) {
            e.preventDefault();
        },
    },
    watch: {
        form: {
            handler: function (after, before) {
                const list = constructorList(this.form)
                if(list.length >0) {
                    list.unshift('platformname:Sentinel-3')
                    this.$emit("input", `(${concateList(list)})`);
                } else {
                    this.$emit("input", null);
                }
            },
            deep: true
        }
    }
};
</script>

<template>
    <div id="tab-s3" class="tab-pane fade">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Plataforma:</label>
                    <vue-select :options="optionsPlatform" v-model="form.filename"></vue-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tipo de producto:</label>
                    <vue-select :options="optionsProductType" v-model="form.producttype"></vue-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <div class="form-group">
                    <label>Oportunidad:</label>
                    <vue-select :options="optionsTimeliness" v-model="form.timeliness" :reduce="option => option.code" label="label"></vue-select>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group">
                    <label>Instrumento:</label>
                    <vue-select :options="optionsInstruments" v-model="form.instrumentshortname"></vue-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nivel de producto:</label>
                    <vue-select :options="optionsLevels" v-model="form.productLevel"></vue-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Inicio de orbita relativa [1-385]:</label>
                    <input class="form-control" type="number" v-model="form.relativeorbitnumber" max="385" min="1">
                </div>
            </div>
        </div>
    </div>
</template>